@page "/not-found"
@layout MainLayout

@inject IStringLocalizer<Resources> Localizer

<PageTitle>@Localizer[Resources.NotFound]</PageTitle>

<div class="not-found">
    <h1>404</h1>
    <div class="message">
        <p>@Localizer[Resources.NotFoundMessage]</p>
        <a href="/" class="link">
            <i class="@Icons.ArrowLeftCircle"></i>
            <span>@Localizer[Resources.GoBack]</span>
        </a>
    </div>
</div>
