@page "/not-found"
@layout MainLayout

@inject IStringLocalizer<Translations> Localizer

<PageTitle>404 &mdash; @Localizer.Atlas</PageTitle>

<main class="not-found">
	<div class="background-404">404</div>
	<div class="content-404">
		<h1>@Localizer.PageNotFound</h1>
		<p class="subtext">@Localizer.PageNotFoundMessage</p>
		<a href="/" class="btn btn-primary">@Localizer.BackToGames</a>
	</div>
</main>
