:root {
  --color-primary: light-dark(hsl(176, 96%, 31%), hsl(176, 96%, 69%));
  --color-secondary: light-dark(hsl(213, 24%, 84%), hsl(213, 24%, 16%));
  --color-secondary-accent: light-dark(hsl(213, 24%, 16%), hsl(213, 24%, 84%));
  --color-accent: hsl(43, 86%, 50%);
  --color-text: light-dark(hsl(210, 2%, 22%), hsl(210, 2%, 78%));
  --color-background: light-dark(hsl(228, 20%, 95%), hsl(228, 20%, 8%));
  --color-background-accent: light-dark(hsl(218, 22%, 91%), hsl(218, 22%, 14%));
  --color-danger: light-dark(hsl(0, 100%, 50%), hsl(0, 100%, 27%));
  --color-success: light-dark(hsl(120, 100%, 27%), hsl(120, 100%, 40%));

  --color-dialog-primary: light-dark(hsl(176, 96%, 31%), hsl(43, 86%, 50%));
  --color-dialog-background: light-dark(hsl(228, 20%, 95%), hsl(213, 24%, 16%));
  --color-dialog-backdrop: light-dark(hsl(210, 2%, 22%), hsl(228, 20%, 8%));
}

:root:has([data-theme="dark" i]) {
  color-scheme: dark;
}

:root:has([data-theme="light" i]) {
  color-scheme: light;
}

#app[data-theme] {
  transition: all 750ms ease-in-out;
  background: var(--color-background);
}

html {
  color-scheme: dark light;
}

body {
  background-color: var(--color-background);
}
