@using Web.App.Options

@inject ProjectOptions project

<header aria-expanded="false">
    <div class="logo">
        <picture>
            <source type="image/webp" srcset="assets/images/atlas.webp 2x" media="(min-width: 960px)" />
            <source type="image/webp" srcset="assets/images/atlas.webp" />
            <img src="assets/images/atlas.webp" alt="Logo">
        </picture>
    </div>
</header>
