html:has(#quack-app[data-theme='dark' i]) {
  color-scheme: dark;
}

html:has(#quack-app[data-theme='light' i]) {
  color-scheme: light;
}

#quack-app {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.quack-icon-btn:hover {
  filter: none;
  border-color: var(--quack-text-accent);
  color: var(--quack-text-accent);
}
