@inject IStringLocalizer<Resources> localizer

<div class="container">
    <input type="text" aria-label="@localizer[Resources.LookupCountry]" placeholder="@localizer[Resources.LookupPlaceholder]"
           @bind="_input"
           @oninput="Lookup"
           @onfocus="Focus"
           @onkeydown="HandleKeyboardAsync" />
    <ul class="items" role="list">
        @foreach ((int index, (string code, string name)) in _filteredCountries.Index())
        {
            <li id="country-@index" class="item @IsActive(index)" @onclick="async () => await SelectCountryAsync(code)">@name</li>
        }
    </ul>
</div>
