.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .flag, .country {
    width: 200px;
  }

  .country {
    filter: invert(var(--country-color));
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--quack-primary-text);
  }
}

.map {
  color: var(--quack-muted-text);
  font-size: var(--quack-text-sm);
  transition: color .15s;

  &:hover {
    color: var(--quack-accent-text);
  }
}
