@using Atlas.Application.Countries.Responses

@inject IStringLocalizer<Translations> Localizer

@if (_isLoading)
{
	<span class="spinner"></span>
}
else
{
	<span class="count">@Localizer.CountriesAvailable(_countries.Length)</span>
	<input @bind="_search" @bind:event="oninput" type="search" placeholder="@Localizer.SearchCountries" />
	<div class="countries">
		@foreach (CountryResponse country in GetFilteredCountries())
		{
			<div class="country">
				<img src="@country.Resources.Flag" />
				<span>@country.Name</span>
			</div>
		}
	</div>
}
