name: Build and Deploy

on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy'
        required: true
        type: string
      bumpVersion:
        description: 'Whether to bump the version for production deployment'
        required: false
        type: boolean
        default: false
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      CLOUDFLARE_ACCOUNT_ID:
        required: true

jobs:
  build:
    runs-on: windows-latest
    env:
      webApp: ./src/Web.App/Web.App.csproj

    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Bump version
        if: ${{ inputs.bumpVersion }}
        run: dotnet .\bump.version.cs

      - name: Restore dependencies
        run: dotnet restore ${{ env.webApp }}

      - name: Build
        run: dotnet build ${{ env.webApp }} --configuration release --no-restore

      - name: Publish web app
        run: dotnet publish ${{ env.webApp }} -p:WasmApplicationEnvironmentName=${{ inputs.environment }} --output ./artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-app
          path: ./artifacts/wwwroot

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: web-app
          path: wwwroot

      - name: Deploy to Cloudflare
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          command: pages deploy wwwroot --project-name atlas --branch ${{ inputs.environment }}
